@model WebApp.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Update</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">

    <form id="frm-edit">
        @Html.AntiForgeryToken()
        <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Status, new { id = "Status" })
        @Html.HiddenFor(model => model.UserId)


        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter sport name (Ar) here ...", required = "required" } })@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email here ...", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordHash, "Password", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter password here ...", required = "required", type = "password" } })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                    <span class="form-text text-danger" style="font-size: 9px;" id="passErrorMsg" hidden>Min. 8 characters, at least one uppercase letter, one lowercase letter, and one number</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Phone No</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter phone number here....", required = "required" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <div class="input-group mb-2">
                        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles,"Name","Name" , Model.Role))"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="frm-edit">Save Changes</button>
</div>
<script>

    var _URL = window.URL || window.webkitURL;
    $(document).ready(function () {


        $("#frm-edit").submit(function () {

            $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            var data = new FormData();
            data.append("UserId", $('#UserId').val());
            data.append("Email", $('#Email').val());
            data.append("Status", $('#Status').val());
            data.append("FirstName", $('#FirstName').val());
            data.append("LastName", $('#LastName').val());
            data.append("PhoneNumber", $('#PhoneNumber').val());
            data.append("Role", $('#Role option:selected').text());
            data.append("__RequestVerificationToken", $('input[name=__RequestVerificationToken]').val());
            $(element).find('i').hide();
            $(element).addClass('spinner spinner-left spinner-sm').attr('disabled', true);
            $.ajax({
                url: "/Admin/User/Edit/",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    if (callback) {
                        callback($('#myModalContent'), element, true, response);
                    }
                    $('#myModal').modal('hide');
                },
                error: function (er) {
                    toastr.error(er);
                    location.reload();
                }
            });
            return false;
        });
    });

</script>
