@model WebApp.ViewModels.GarageContentManagementViewModel
@using HelperClasses.Classes
@using Microsoft.AspNetCore.Authorization
@**@
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<style>
    .ck-editor {
        width: 100% !important;
    }

    .ck-editor__editable {
        max-height: 400px;
    }

    .card span.text-muted {
        color: #2d2d2d66 !important;
        font-weight: 600 !important;
        font-size: 12px;
    }

    .theme-link {
        color: #ffb000 !important;
        font-weight: 900;
        cursor: pointer;
    }

        .theme-link i {
            color: #ffb000 !important;
        }



    .ck-read-only {
        user-select: none;
        background: #c4c4c44a !important;
    }

    .ck-content {
        height: 300px;
    }

        .ck-content::-webkit-scrollbar {
            width: .3em;
        }

        .ck-content::-webkit-scrollbar-track {
            /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);*/
            background-color: #eaecf461;
        }

        .ck-content::-webkit-scrollbar-thumb {
            background-color: #ebedf5;
            /*outline: 1px solid #ebedf5;*/
        }
</style>
<!--begin::Content-->
<link href="~/css/cropper.css" rel="stylesheet" />
<link href="~/Admin/css/general/ImageUploader.css" rel="stylesheet" />

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">

                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="/Client/Dashboard/Index" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <a href="/Client/Dashboard/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">&nbsp;&nbsp;Dashboard</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="javascript:;" class="text-white text-hover-white opacity-75 hover-opacity-100">Content Management</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Card-->
            <div class="row justify-content-center">
                <div class="col-12">
                    <input asp-for="Id" hidden>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-custom gutter-b">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12" style="display:flex">
                                        <div class="image-upload banner box @(Model != null && Model.Garage != null && Model.Garage.Logo!=null? "uploaded" : "empty")" action="/Client/ContentManagement/UpdateProfile">
                                            <i class="fa fa-camera"></i>
                                            <span>Upload Image</span>
                                            <input type="file" name="Restaurantlogo" id="Restaurantlogo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                                            <img id="PreviewImage" class="image-preview" src='@(Model != null && Model.Garage!=null && Model.Garage.Logo!=null?Model.Garage.Logo.Replace(" ", "%20"):"/Assets/images/no-data.png")' />
                                            @*<i class="fa fa-trash" onclick="DeleteFile(this,'@Model.Garage.Logo')"></i>
                                <input name="RestaurantID" id="RestaurantID" value="@Model.Garage.Logo" hidden />*@
                                        </div>

                                        <div class="card card-custom card-stretch card-stretch shadow-none justify-content-center" style="width: -webkit-fill-available;">
                                            <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label font-weight-bolder text-dark">Logo</span>
                                                    <span class="text-muted mt-3">Logo for website</span>
                                                </h3>
                                                <div class="text-md-right">
                                                    <div class="card-toolbar">
                                                        <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                            <i class="fa fa-edit"></i> Change
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-custom gutter-b">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12" style="display:flex">
                                        <div class="image-upload banner box @(Model != null && Model.Garage != null && Model.Garage.SecondaryLogo!=null? "uploaded" : "empty")" action="/Client/ContentManagement/SecondaryLogo">
                                            <i class="fa fa-camera"></i>
                                            <span>Upload Image</span>
                                            <input type="file" name="GarageSecondarylogo" id="GarageSecondarylogo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="16/9" minCroppedWidth="0" minCroppedHeight="0" />
                                            <img id="PreviewSecondaryImage" class="image-preview" src='@(Model != null && Model.Garage!=null && Model.Garage.SecondaryLogo!=null?Model.Garage.SecondaryLogo.Replace(" ", "%20"):"/Assets/images/no-data.png")' />
                                            <i class="fa fa-trash" onclick="DeleteFile(this, '@Model.Garage.SecondaryLogo')"></i>
                                        </div>

                                        <div class="card card-custom card-stretch card-stretch shadow-none justify-content-center" style="width: -webkit-fill-available;">
                                            <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label font-weight-bolder text-dark">Secondary Logo</span>
                                                    <span class="text-muted mt-3">Secondary logo for mobile view</span>
                                                </h3>
                                                <div class="text-md-right">
                                                    <div class="card-toolbar">
                                                        <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                            <i class="fa fa-edit"></i> Change
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-custom gutter-b">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12" style="display:flex">
                                        <div class="image-upload banner box @(Model != null && Model.Favicon != null && Model.Favicon!=null? "uploaded" : "empty")" action="/Client/ContentManagement/Favicon">
                                            <i class="fa fa-camera"></i>
                                            <span>Upload Image</span>
                                            <input type="file" name="Favicon" id="Favicon" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                                            <img id="PreviewFavicon" class="image-preview" src='@(Model != null && Model.Favicon!=null  && Model.Favicon!=null?Model.Favicon.Replace(" ", "%20"):"/Assets/images/no-data.png")' />
                                            <i class="fa fa-trash" onclick="DeleteFile(this, '@Model.Favicon')"></i>
                                        </div>

                                        <div class="card card-custom card-stretch card-stretch shadow-none justify-content-center" style="width: -webkit-fill-available;">
                                            <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label font-weight-bolder text-dark">Favicon</span>
                                                    <span class="text-muted mt-3">Favicon for website</span>
                                                </h3>
                                                <div class="text-md-right">
                                                    <div class="card-toolbar">
                                                        <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                            <i class="fa fa-edit"></i> Change
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="card card-custom gutter-b theme-color-section">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12" style="display:flex">
                                        @{
                                            string theme = "";
                                            if (Model != null && Model.Garage != null)
                                            {
                                                theme = Model.Garage.ThemeColor;
                                            }
                                            else
                                            {
                                                theme = "#F55050";
                                            }

                                        }
                                        <div class="theme-color" style="background:@theme">
                                            <span style="color:@theme">
                                                @theme
                                            </span>
                                            <input type="color" id="color" name="color" value="@theme" style="background:@theme" enabled>
                                        </div>

                                        <div class="card card-custom card-stretch card-stretch shadow-none justify-content-center" style="width: -webkit-fill-available;">
                                            <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label font-weight-bolder text-dark">Theme Color</span>
                                                    <span class="text-muted mt-3">Theme color for website</span>
                                                </h3>
                                                <div class="text-md-right">
                                                    <div class="card-toolbar">
                                                        <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                            <i class="fa fa-edit"></i> Change
                                                        </a>
                                                        <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                            <i class="ki ki-close icon-sm"></i> Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveThemeColor(this)">
                                                            <i class="ki ki-check icon-sm"></i> Save Changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="card card-custom card-stretch gutter-b card-stretch Title-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Title</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'Title')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <div class="input-group mb-2">
                                            <input type="text" asp-for="Title" placeholder="Title" class="form-control" />
                                            <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">About Us Banner</span>
                                        <span class="text-muted mt-3">Banner for home page about us section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="image-upload banner @(Model != null && Model.AboutUsImage != null? "uploaded" : "empty")" action="/Client/ContentManagement/AboutUsImage">
                                        <i class="fa fa-camera"></i>
                                        <span>Upload Image</span>
                                        <input type="file" name="AboutUsBanner" id="AboutUsBanner" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="0.97" minCroppedWidth="400" minCroppedHeight="410" />
                                        <img id="AboutUsPreview" class="image-preview" src='@(Model != null && Model.AboutUsImage!=null?Model.AboutUsImage:"/Assets/images/no-data.png")' />
                                        @*<i class="fa fa-trash" onclick="DeleteFile(this,'@ViewBag.Restaurant.DescriptionImage')"></i>
                            <input name="RestaurantID" id="RestaurantID" value="@ViewBag.Restaurant.Id" hidden />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-custom card-stretch gutter-b card-stretch about-us-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">About Us</span>
                                        <span class="text-muted mt-3">Content for home page about us section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'AboutUs')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.AboutUsDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.AboutUsDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">CEO Image</span>
                                        <span class="text-muted mt-3">Banner for home page about us section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="image-upload banner @(Model != null && Model.CEOImagePath != null? "uploaded" : "empty")" action="/Client/ContentManagement/CEOImage">
                                        <i class="fa fa-camera"></i>
                                        <span>Upload Image</span>
                                        <input type="file" name="CEOImage" id="CEOImage" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="0.97" minCroppedWidth="400" minCroppedHeight="410" />
                                        <img id="CEOImagePreview" class="image-preview" src='@(Model != null && Model.CEOImagePath!=null?Model.CEOImagePath:"/Assets/images/no-data.png")' />
                                        @*<i class="fa fa-trash" onclick="DeleteFile(this,'@ViewBag.Restaurant.DescriptionImage')"></i>
                            <input name="RestaurantID" id="RestaurantID" value="@ViewBag.Restaurant.Id" hidden />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-custom card-stretch gutter-b card-stretch CEOMessage-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">CEO Message</span>
                                        <span class="text-muted mt-3">Content for home page about us section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'CEOMessage')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.CEOMessage, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.CEOMessage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-8">

            </div>*@
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-custom card-stretch gutter-b card-stretch CEOName-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">CEO Name</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'CEOName')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <div class="input-group mb-2">
                                            <input type="text" asp-for="CEOName" placeholder="CEO Name" class="form-control" />
                                            <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch PromoSection01-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Promo Section 01</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'PromoSection01')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <div class="input-group mb-2">
                                            <input type="text" asp-for="PromoSection01" placeholder="Promo Section 01" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Count</label>
                                        <div class="input-group mb-2">
                                            <input type="number" asp-for="PromoSection01Count" placeholder="Promo Section 01 Count" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch PromoSection02-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Promo Section 02</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'PromoSection02')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <div class="input-group mb-2">
                                            <input type="text" asp-for="PromoSection02" placeholder="Promo Section 02" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Count</label>
                                        <div class="input-group mb-2">
                                            <input type="number" asp-for="PromoSection02Count" placeholder="Promo Section 02 Count" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch PromoSection03-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Promo Section 03</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'PromoSection03')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <div class="input-group mb-2">
                                            <input type="text" asp-for="PromoSection03" placeholder="Promo Section 03" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Count</label>
                                        <div class="input-group mb-2">
                                            <input type="number" asp-for="PromoSection03Count" placeholder="Promo Section 03 Count" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-custom card-stretch gutter-b card-stretch PrivacyPolicy-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Privacy Policy</span>
                                        <span class="text-muted mt-3">Content for Privacy Policy</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'PrivacyPolicy')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.PrivacyPolicy, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.PrivacyPolicy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-custom card-stretch gutter-b card-stretch TAC-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Terms & Conditions</span>
                                        <span class="text-muted mt-3">Content for Terms & Conditions</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'TermsAndConditions')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.TermsAndConditions, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.TermsAndConditions, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch mission-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Our Mission</span>
                                        <span class="text-muted mt-3">Content for Our Mission</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'mission')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.Mission, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Mission, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch vision-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Our Vision</span>
                                        <span class="text-muted mt-3">Content for Our Vision</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'vision')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.Vision, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Vision, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-custom card-stretch gutter-b card-stretch values-section">
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Our Values</span>
                                        <span class="text-muted mt-3">Content for Our Values</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link data">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <button type="button" class="btn btn-actions btn-cancel btn-outline-secondary font-weight-bolder mr-1" style="display: none;">
                                                <i class="ki ki-close icon-sm"></i> Cancel
                                            </button>
                                            <button type="button" class="btn btn-info font-weight-bolder btn-actions" style="display: none;" onclick="SaveContent(this,'values')">
                                                <i class="ki ki-check icon-sm"></i> Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    @Html.TextAreaFor(model => model.Values, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", type = "text", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Values, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-custom card-stretch gutter-b card-stretch">
                                <!--begin::Header-->
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Inner Banner</span>
                                        <span class="text-muted mt-3">Banner for Inner section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <!--end::Button-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body pt-0">
                                    <div class="image-upload banner @(!string.IsNullOrEmpty(Model.InnerPagesBanner)? "uploaded" : "empty")" action="/Client/ContentManagement/InnerPagesBanner/">
                                        <i class="fa fa-camera"></i>
                                        <span>Upload Image</span>
                                        <input type="file" name="InnerPagesBanner" id="InnerPagesBanner" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                                        <img id="InnerPagesBannerPreview" class="image-preview" src='@(!string.IsNullOrEmpty(Model.InnerPagesBanner)?Model.InnerPagesBanner.Replace(" ", "%20"):"/Assets/images/no-data.png")' />
                                        <i class="fa fa-trash" onclick="DeleteFile(this,'@Model.InnerPagesBanner')"></i>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-custom card-stretch gutter-b card-stretch">
                                <!--begin::Header-->
                                <div class="card-header border-0 py-5" style="display: flex; align-items: center;">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">Footer Banner</span>
                                        <span class="text-muted mt-3">Banner for footer section</span>
                                    </h3>
                                    <div class="text-md-right">
                                        <div class="card-toolbar">
                                            <a href="javascript:;" class="opacity-75 hover-opacity-100 theme-link media">
                                                <i class="fa fa-edit"></i> Change
                                            </a>
                                            <!--end::Button-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body pt-0">
                                    <div class="image-upload banner @(!string.IsNullOrEmpty(Model.FooterImage)? "uploaded" : "empty")" action="/Client/ContentManagement/FooterImage/">
                                        <i class="fa fa-camera"></i>
                                        <span>Upload Image</span>
                                        <input type="file" name="FooterBanner" id="FooterBanner" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                                        <img id="FooterBannerPreview" class="image-preview" src='@(!string.IsNullOrEmpty(Model.FooterImage)?Model.FooterImage.Replace(" ", "%20"):"/Assets/images/no-data.png")' />
                                        <i class="fa fa-trash" onclick="DeleteFile(this,'@Model.FooterImage')"></i>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Card-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Row-->

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" style="min-height:100px">
            <div id='myModalContent'>
                <div class="row justify-content-center">
                    <div class="col-16">
                        <div class="kt-spinner kt-spinner--lg kt-spinner--dark kt-spinner-modal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CropperModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 90vw;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="img-container">
                    <img id="image" src="https://avatars0.githubusercontent.com/u/3456749" style="width:80vw;height:80vh" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0">
                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-between;">
                <div class="cropper-actions">
                    <div class="aspectratio-section">
                        <h6>ASPECT RATIO</h6>
                        <div class="aspectratios">
                            <a href="javascript:;" class="cropper-aspectratio active" data="NaN"><span class="free-style"></span>FREE STYLE</a>
                            <a href="javascript:;" class="cropper-aspectratio" data="1"><span class="box"></span> SQUARE (1:1)</a>
                        </div>
                    </div>
                    <div class="shapes-section">
                        <h6>SHAPES</h6>
                        <div class="shapes">
                            <a href="javascript:;" class="cropper-shape active" data="round"><span class="round"></span> ROUND/OVAL</a>
                            <a href="javascript:;" class="cropper-shape" data="square"><span class="square"></span> SQUARE/RECTANGLE</a>
                        </div>
                    </div>
                    <div class="backgrounds-section">
                        <h6>BACKGROUNDS</h6>
                        <div class="backgrounds">
                            <a href="javascript:;" class="background-color active" data="#FFFFFF"><span style="background: #FFFFFF"></span> WHITE</a>
                            <a href="javascript:;" class="background-color" data="#000000"><span style="background: #000000"></span> BLACK</a>
                            <a href="javascript:;" class="background-color" data="#00000000"><span style="background: #00000000"></span> TRANSPARENT</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="crop">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	var SuccessMessage = '@ViewBag.SuccessMessage';
	var ErrorMessage = '@ViewBag.ErrorMessage';
</script>

@section Scripts {
    <script src="/Admin/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/Admin/js/general/ModalPopup.js"></script>
    <script src="~/Admin/js/client/ContentManagement/Update.js"></script>
    <script src="~/Admin/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>

    <script src="~/js/cropper.js"></script>
    <script src="~/js/compressor.js"></script>
    <script src="~/Admin/js/general/ImageUploader-2.0.js"></script>
    <script src="~/Admin/js/client/ContentManagement/media.js"></script>

    <script>

        var DescriptionAboutUs , Description, DescriptionPrivacy, DescriptionDeliveryPolicy, DescriptionReturnPolicy  ;

		var AboutUsEditor
		, Mission
			, Vision
			, Values
            , CEOMessage
            , PrivacyPolicyEditor
            ,TermsAndConditionsEditor
        var ImagePath = "";
		var UpdateLogo = "";

		$(document).ready(function () {
            $("#CEOName").attr("disabled", "disabled")
             $("#Title").attr("disabled", "disabled")
            $("#PromoSection01").attr("disabled", "disabled")
            $("#PromoSection01Count").attr("disabled", "disabled")
            $("#PromoSection02").attr("disabled", "disabled")
            $("#PromoSection02Count").attr("disabled", "disabled")
            $("#PromoSection03").attr("disabled", "disabled")
            $("#PromoSection03Count").attr("disabled", "disabled")

			$("#btnRestaurantlogo").click(function () {

				$(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);

				var data = new FormData();
				data.append("logo", UpdateLogo);
				$.ajax({
                    url: "/Client/ContentManagement/UpdateProfile/",
					type: "POST",
					processData: false,
					contentType: false,
					data: data,
					success: function (response) {

						if (callback) {
							callback($('#myModalContent'), element, false, response);
						}
						location.reload();
					},
					error: function (er) {
						toastr.error(er);
					}
				});
				return false;
			});

            $(".ImagePath").change(function (e) {
                $(".ImagePath").attr('required', true);

                var file, img;

                if ((file = this.files[0])) {

                    //img = new Image();
                    //img.onload = function () {

                    //    if (this.width < 400 || this.width > 400) {
                    //        Swal.fire({
                    //            icon: 'error',
                    //            title: 'Oops...',
                    //            text: 'Image dimension should be equal to 400 x 400!',

                    //        }).then(function (result) {
                    //            $(".ImagePath").attr("src", "/Assets/AppFiles/Images/default.png");
                    //            $(".cancelimage").trigger('click');
                    //        });
                    //    }
                    //    else if (this.height < 410 || this.height > 410) {
                    //        Swal.fire({
                    //            icon: 'error',
                    //            title: 'Oops...',
                    //            text: 'Image dimension should be equal to 410 x 410!',

                    //        }).then(function (result) {
                    //            $(".ImagePath").attr("src", "/Assets/AppFiles/Images/default.png");
                    //            $(".cancelimage").trigger('click');
                    //        });
                    //    }
                    //    else if (file.size > 500000) {
                    //        Swal.fire({
                    //            icon: 'error',
                    //            title: 'Oops...',
                    //            text: 'Image size must be less than 500 kb!',

                    //        }).then(function (result) {
                    //            $(".ImagePath").attr("src", "/Assets/AppFiles/Images/default.png");
                    //            $(".cancelimage").trigger('click');
                    //        });
                    //    }
                    //    else {
                    //        img.onerror = function () {
                    //            alert("not a valid file: " + file.type);
                    //        };
                    //    }
                    //};
                    //
                    //img.src = _URL.createObjectURL(file);
                    ImagePath = UploadImageToDraft(file).responseText;
                }
            });
            $("#Userform").submit(function () {

                $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);

                var data = new FormData();
                data.append("logoPath", logoPath);
                $.ajax({
                    url: "/Restaurant/RestaurantContentManagement/Create/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {

                        //if (callback) {
                        //    //callback($('#myModalContent'), element, false, response);
                        //}
                        location.reload();
                    },
                    error: function (er) {
                        toastr.error(er);
                    }
                });
                return false;
            });
            //Image Validation End
            $(".Image").change(function (e) {
                $(".Image").attr('required', true);

                var file, img;

                if ((file = this.files[0])) {

                    img = new Image();
                    img.onload = function () {

                        if (this.width < 400 || this.width > 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image dimension should be equal to 400 x 400!',

                            }).then(function (result) {
                                $(".Image").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else if (this.height < 410 || this.height > 410) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image dimension should be equal to 410 x 410!',

                            }).then(function (result) {
                                $(".Image").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else if (file.size > 500000) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image size must be less than 500 kb!',

                            }).then(function (result) {
                                $(".logo").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else {
                            img.onerror = function () {
                                alert("not a valid file: " + file.type);
                            };
                        }
                    };

                    img.src = _URL.createObjectURL(file);
                    logoPath = UploadImageToDraft(file).responseText;

                }
            });
            $(".UpdateLogo").change(function (e) {
                $(".UpdateLogo").attr('required', true);

                var file, img;

                if ((file = this.files[0])) {

                    img = new Image();
                    img.onload = function () {

                        if (this.width < 400 || this.width > 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image dimension should be equal to 400 x 400!',

                            }).then(function (result) {
                                $(".UpdateLogo").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else if (this.height < 410 || this.height > 410) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image dimension should be equal to 410 x 410!',

                            }).then(function (result) {
                                $(".UpdateLogo").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else if (file.size > 500000) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Image size must be less than 500 kb!',

                            }).then(function (result) {
                                $(".UpdateLogo").attr("src", "/Assets/AppFiles/Images/default.png");
                                $(".cancelimage").trigger('click');
                            });
                        }
                        else {
                            img.onerror = function () {
                                alert("not a valid file: " + file.type);
                            };
                        }
                    };

                    img.src = _URL.createObjectURL(file);
					UpdateLogo = UploadImageToDraft(file).responseText;

                }
            });
            $("#Menuform").submit(function () {

                $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);

                var data = new FormData();
                data.append("ImagePath", ImagePath);
                $.ajax({
                    url: "/Restaurant/RestaurantContentManagement/PromotionCreate/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {

                        //if (callback) {
                        //    //callback($('#myModalContent'), element, false, response);
                        //}
                        location.reload();
                    },
                    error: function (er) {
                        toastr.error(er);
                    }
                });
                return false;
            });


			ClassicEditor.defaultConfig = {
				toolbar: {
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'|',
						'bulletedList',
						'numberedList',
						'|',
						'insertTable',
						'|',
						'undo',
						'redo'
					]
				},
				image: {
					toolbar: [
						'imageStyle:full',
						'imageStyle:side',
						'|',
						'imageTextAlternative'
					]
				},
				table: {
					contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
				},
				language: 'en'
			};

            ClassicEditor
				.create(document.querySelector('#AboutUsDescription'))
				.then(editor => {
					AboutUsEditor = editor;

					let toolbarElement = AboutUsEditor.ui.view.toolbar.element;

					AboutUsEditor.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						if (isReadOnly) {
							toolbarElement.style.display = 'none';
						} else {
							toolbarElement.style.display = 'flex';
						}
					});

					AboutUsEditor.setData(`@Html.Raw(Model.AboutUsDescription)`);
					AboutUsEditor.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
               });

            ClassicEditor
                .create(document.querySelector('#PrivacyPolicy'))
				.then(editor => {
                    PrivacyPolicyEditor = editor;

                    let toolbarElement = PrivacyPolicyEditor.ui.view.toolbar.element;

                    PrivacyPolicyEditor.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						if (isReadOnly) {
							toolbarElement.style.display = 'none';
						} else {
							toolbarElement.style.display = 'flex';
						}
					});

                    PrivacyPolicyEditor.setData(`@Html.Raw(Model.PrivacyPolicy)`);
                    PrivacyPolicyEditor.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
               });

            ClassicEditor
                .create(document.querySelector('#TermsAndConditions'))
				.then(editor => {
                    TermsAndConditionsEditor = editor;

                    let toolbarElement = TermsAndConditionsEditor.ui.view.toolbar.element;

                    TermsAndConditionsEditor.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						if (isReadOnly) {
							toolbarElement.style.display = 'none';
						} else {
							toolbarElement.style.display = 'flex';
						}
					});

                    TermsAndConditionsEditor.setData(`@Html.Raw(Model.TermsAndConditions)`);
                    TermsAndConditionsEditor.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
			   });


             ClassicEditor
                 .create(document.querySelector('#Mission'))
				 .then(editor => {
					 Mission = editor;
					 let toolbarElement = Mission.ui.view.toolbar.element;

					 Mission.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						 if (isReadOnly) {
							 toolbarElement.style.display = 'none';
						 } else {
							 toolbarElement.style.display = 'flex';
						 }
					 });


					 Mission.setData(`@Html.Raw(Model.Mission)`);
					 Mission.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
			   });


                 ClassicEditor
                     .create(document.querySelector('#Vision'))
					 .then(editor => {
						 Vision = editor;

						 const toolbarElement = Vision.ui.view.toolbar.element;

						 Vision.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
							 if (isReadOnly) {
								 toolbarElement.style.display = 'none';
							 } else {
								 toolbarElement.style.display = 'flex';
							 }
						 });


						 Vision.setData(`@Html.Raw(Model.Vision)`);
						 Vision.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
			   });

              ClassicEditor
                  .create(document.querySelector('#Values'))
				  .then(editor => {
					  Values = editor;
					  let toolbarElement = Values.ui.view.toolbar.element;

					  Values.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						  if (isReadOnly) {
							  toolbarElement.style.display = 'none';
						  } else {
							  toolbarElement.style.display = 'flex';
						  }
					  });

					  Values.setData(`@Html.Raw(Model.Values)`);
					  Values.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
			   });

            ClassicEditor
                .create(document.querySelector('#CEOMessage'))
				.then(editor => {
					CEOMessage = editor;
					const toolbarElement = CEOMessage.ui.view.toolbar.element;

					CEOMessage.on('change:isReadOnly', (evt, propertyName, isReadOnly) => {
						if (isReadOnly) {
							toolbarElement.style.display = 'none';
						} else {
							toolbarElement.style.display = 'flex';
						}
					});


					CEOMessage.setData(`@Html.Raw(Model.CEOMessage)`);
					CEOMessage.isReadOnly = true;
               })
               .catch(error => {
                   console.log(error);
               });
        });
        if (SuccessMessage) {
            toastr.success(SuccessMessage);
        }
        else if (ErrorMessage) {
            $('#edit-profile').trigger('click');
            toastr.error(ErrorMessage);
        }


        jQuery(document).ready(function () {

        });

        function Delete(element, record) {

            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        url: '/Restaurant/RestaurantContentManagement/DeleteAboutUs/' + record,
                        type: 'POST',
                        data: {
                            "__RequestVerificationToken":
                                $("input[name=__RequestVerificationToken]").val()
                        },
                        success: function (result) {
                            if (result.success != undefined) {
                                if (result.success) {
                                    toastr.options = {
                                        "positionClass": "toast-bottom-right",
                                    };
                                    toastr.success('Banner Deleted Successfully');

                                    $(element).closest('.banner').remove();
                                }
                                else {
                                    toastr.error(result.message);
                                }
                            } else {
                                swal.fire("Your are not authorize to perform this action", "For further details please contact Restaurantistrator !", "warning").then(function () {
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status == 403) {
                                try {
                                    var response = $.parseJSON(xhr.responseText);
                                    swal.fire(response.Error, response.Message, "warning").then(function () {
                                        $('#myModal').modal('hide');
                                    });
                                } catch (ex) {
                                    swal.fire("Access Denied", "Your are not authorize to perform this action, For further details please contact Restaurantistrator !", "warning").then(function () {
                                        $('#myModal').modal('hide');
                                    });
                                }

                                $(element).removeClass('spinner spinner-left spinner-sm').attr('disabled', false);
                                $(element).find('i').show();

                            }
                        }
                    });
                }
            });
        }
        function DeleteMenuImage(element, record) {

            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        url: '/Restaurant/RestaurantContentManagement/DeleteMenuImage/' + record,
                        type: 'POST',
                        data: {
                            "__RequestVerificationToken":
                                $("input[name=__RequestVerificationToken]").val()
                        },
                        success: function (result) {
                            if (result.success != undefined) {
                                if (result.success) {
                                    toastr.options = {
                                        "positionClass": "toast-bottom-right",
                                    };
                                    toastr.success('Banner Deleted Successfully');

                                    $(element).closest('.banner').remove();
                                }
                                else {
                                    toastr.error(result.message);
                                }
                            } else {
                                swal.fire("Your are not authorize to perform this action", "For further details please contact Restaurantistrator !", "warning").then(function () {
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status == 403) {
                                try {
                                    var response = $.parseJSON(xhr.responseText);
                                    swal.fire(response.Error, response.Message, "warning").then(function () {
                                        $('#myModal').modal('hide');
                                    });
                                } catch (ex) {
                                    swal.fire("Access Denied", "Your are not authorize to perform this action, For further details please contact Restaurantistrator !", "warning").then(function () {
                                        $('#myModal').modal('hide');
                                    });
                                }

                                $(element).removeClass('spinner spinner-left spinner-sm').attr('disabled', false);
                                $(element).find('i').show();
                            }
                        }
                    });
                }
            });
        }
    </script>
}