@model WebApp.ViewModels.RestaurantDashboardViewModel
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Html;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Restaurant/Views/Shared/_Layout.cshtml";
}
<!--begin::Page Vendors Styles(used by this page)-->
<link href="~/assets/Admin/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles-->
<link href="~/Assets/Admin/css/admin/dashboard/index.css" rel="stylesheet" />
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid dashboard">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
		<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Heading-->
				<div class="d-flex flex-column">
					<!--begin::Title-->
					<h2 class="text-white font-weight-bold my-2 mr-5">Dashboard</h2>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<div class="d-flex align-items-center font-weight-bold my-2">
						<!--begin::Item-->
						<a href="javascript:;" class="text-white text-hover-white opacity-75 hover-opacity-100">Welcome to @User.Identity.Name.Split("@")[0]</a>
						<!--end::Item-->
					</div>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Heading-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 sm-12 col-xxl-12">
					<div class="row">
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-users fa-2x stats-color"></i>
									</span>
									<div class="text-dark font-weight-bolder font-size-h4 mt-3 nou">@Model.CustomerCount</div>
									<a href="/Restaurant/RestaurantCustomer/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Customers</a>
								</div>
							</div>
						</div>
						@*<div class="col">
								<div class="card card-custom gutter-b" style="height: 150px">
									<div class="card-body">
										<span class="menu-icon">
											<i class="fas fa-users fa-2x stats-color"></i>
										</span>
										<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.UserCount</div>
										<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Users</a>
									</div>
								</div>
							</div>*@
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-users fa-2x stats-color"></i>
									</span>
									<div class="text-dark font-weight-bolder font-size-h4 mt-3 av">@Model.DeliveryStaffCount</div>
									<a href="/Restaurant/RestaurantDeliveryStaff/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Delivery Staff</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-users fa-2x stats-color"></i>
									</span>
									<div class="text-dark font-weight-bolder font-size-h4 mt-3 av">@Model.ServiceStaffCount</div>
									<a href="/Restaurant/RestaurantServiceStaff/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Service Staff</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-users fa-2x stats-color"></i>
									</span>
									<div class="text-dark font-weight-bolder font-size-h4 mt-3 av">@Model.CashierStaffCount</div>
									<a href="/Restaurant/RestaurantCashierStaff/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Cashier Staff</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-building fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.RestaurantBranchCount</div>
									<a href="/Restaurant/RestaurantBranch/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Branches</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-gifts fa-2x stats-color"></i>
									</span>
									<div class="text-dark font-weight-bolder font-size-h4 mt-3 av">@Model.CouponsCount</div>
									<a href="/Restaurant/Coupon/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Coupons</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-clipboard-list fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.MenusCount</div>
									<a href="/Restaurant/Menu/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Menus</a>
								</div>
							</div>
						</div>
						@*</div>*@

						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-list-alt fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.CategoriesCount</div>
									<a href="/Restaurant/Category/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Categories</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-list-ul fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.ItemsCount</div>
									<a href="/Restaurant/Item/Index" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Items</a>
								</div>
							</div>
						</div>


					</div>
					<div class="row">
						<!--<div class="col-xl-3">-->
						<!--begin::Tiles Widget 3-->
						<!--<div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 150px; background-image: url(assets/media/bg/bg-9.jpg)">-->
						<!--begin::Body-->
						<!--<div class="card-body d-flex flex-column">-->
						<!--begin::Title-->
						<!--<a href="#" class="text-dark-75 text-hover-primary font-weight-bolder font-size-h3">Properties</a>-->
						<!--end::Title-->
						<!--</div>-->
						<!--end::Body-->
						<!--</div>-->
						<!--end::Tiles Widget 3-->
						<!--</div>-->
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fa fa-check fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.ConfirmedCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Confirmed</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-fire fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.PreparingCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Prepairing</a>
								</div>
							</div>
						</div>
						@*</div>*@
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-dice-one fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.FoodReadyCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Food Ready</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-shipping-fast fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.OnTheWayCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">On The Way</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-thumbs-up fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.DeliveredCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Delivered</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-custom gutter-b" style="height: 150px">
								<div class="card-body">
									<span class="menu-icon">
										<i class="fas fa-times fa-2x stats-color"></i>
									</span>
									<div id="PropertyApprovals" class="text-dark font-weight-bolder font-size-h4 mt-3 crap">@Model.CanceledCount</div>
									<a href="javascript:void(0);" class="text-muted text-hover-dark font-weight-bold font-size-lg mt-1">Canceled</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 branchStats">
							<!--begin::List Widget 11-->
							<div class="card card-custom card-stretch gutter-b">
								<!--begin::Header-->
								<div class="card-header border-0 d-flex">
									<h3 class="card-title font-weight-bolder text-dark">Branch Wise Sales Chart</h3>
									<div class="card-title dropdown dropdown-inline mr-2">

										<div class="input-group">
											@Html.DropDownList("RestaurantBranch", null, "Select Branch", htmlAttributes: new { @class = "form-control", id = "RestaurantBranch", onchange = "ChangeBranchStats(this)" })

										</div>
									</div>
								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body pt-0">
									<!--begin::Item-->
									<div class="d-flex align-items-center mb-9 bg-light-danger rounded p-5">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 cash-stats">Cash Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg cash-stats-amount">5650</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-info mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 card-stats">Card Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-primary py-1 font-size-lg card-stats-amount">9043</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light-danger rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 partial-stats">Partial Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg partial-stats-amount">0</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-info mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 aggregator-stats">Aggregator Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-primary py-1 font-size-lg aggregator-stats-amount">0</span>
										<!--end::Lable-->
									</div>
									<div class="d-flex align-items-center mb-9 bg-light-danger rounded p-5">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 credit-stats">Credit Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg credit-stats-amount">5650</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::List Widget 11-->
						</div>
						<div class="col-lg-6">
							<!--begin::List Widget 11-->
							<div class="card card-custom card-stretch gutter-b">
								<!--begin::Header-->
								<div class="card-header border-0">
									<h3 class="card-title font-weight-bolder text-dark">Overall Statistics</h3>

								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body pt-0">
									<!--begin::Item-->
									<div class="d-flex align-items-center mb-9 bg-light-danger rounded p-5">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 cash-stats">Cash Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg cash-stats-amount">5650</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-info mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 card-stats">Card Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-primary py-1 font-size-lg card-stats-amount">9043</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light-danger rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 partial-stats">Partial Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg partial-stats-amount">0</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
									<!--begin::Item-->
									<div class="d-flex align-items-center bg-light rounded p-5 mb-9">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-info mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 aggregator-stats">Aggregator Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-primary py-1 font-size-lg aggregator-stats-amount">0</span>
										<!--end::Lable-->
									</div>
									<div class="d-flex align-items-center mb-9 bg-light-danger rounded p-5">
										<!--begin::Icon-->
										<span class="svg-icon svg-icon-danger mr-5">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Media\Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column flex-grow-1 mr-2">
											<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1 credit-stats">Credit Payment</a>

										</div>
										<!--end::Title-->
										<!--begin::Lable-->
										<span class="font-weight-bolder text-danger py-1 font-size-lg credit-stats-amount">5650</span>
										<!--end::Lable-->
									</div>
									<!--end::Item-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::List Widget 11-->
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					@*@{ Html.RenderAction("List", "Ticket", new { area = "Admin" }); }*@
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					@*@{ Html.RenderAction("ApprovalsList", "Property", new { area = "Admin" }); }*@
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					@*@{ Html.RenderAction("ApprovalsList", "Car", new { area = "Admin" }); }*@
				</div>
			</div>
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
	<!--start : Listing-->
	<div>
		<div class="col-xl-12" id="sparePartsDealerPartialView">
			@await Html.PartialAsync("~/Areas/Restaurant/Views/RestaurantOrder/List.cshtml", Model.Orders.ToList())
		</div>

	</div>
	<!--end : Listing-->
</div>
<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" style="min-height:100px">
			<div id='myModalContent'>
				<div class="row justify-content-center">
					<div class="col-16">
						<div class="kt-spinner kt-spinner--lg kt-spinner--dark kt-spinner-modal"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Content-->

@section Scripts {
	<script src="~/Admin/js/general/ModalPopup.js"></script>
	<script src="/Admin/js/restaurant/order/listDashboard.js"></script>
	<!--begin::Page Vendors(used by this page)-->
	<script src="~/assets/Admin/plugins/custom/datatables/datatables.bundle.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
	<!--end::Page Vendors-->
	<!--begin::Page Scripts(used by this page)-->
	@*<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>*@
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	@*<script src="@Url.ContentVersioned("~/Assets/Admin/js/admin/dashboard/index.js")"></script>*@
	@*<script src="@Url.ContentVersioned("~/Assets/Admin/js/admin/dashboard/PropApprovals.js")"></script>
		<script src="@Url.ContentVersioned("~/Assets/Admin/js/admin/dashboard/approvals.js")"></script>
		<script src="@Url.ContentVersioned("~/Assets/Admin/js/admin/dashboard/Ticket.js")"></script>*@

	@*<script src="~/Assets/Admin/js/general/ModalPopup.js"></script>*@
	@*<script src="~/Assets/Admin/js/admin/dashboard/list.js"></script>*@
	<!--end::Page Scripts-->
	<script>

		$(document).ready(function () {
			/*$(".dropdown-inline").hide();*/
			BindOrderStats();
		});

		function ChangeBranchStats(e) {
			console.log($(e).val());
			$.ajax({
				url: "/Restaurant/Dashboard/OrderStats/" + $(e).val(),
				type: "GET",
				success: function (response) {
					console.log(response)
					if (response.success) {
						$(".branchStats").find(".cash-stats-amount").text("AED : " + response.result.cash);
						$(".branchStats").find(".card-stats-amount").text("AED : " + response.result.card);
						$(".branchStats").find(".aggregator-stats-amount").text("AED : " + response.result.aggregator);
						$(".branchStats").find(".partial-stats-amount").text("AED : " + response.result.partial);
						$(".branchStats").find(".credit-stats-amount").text("AED : " + response.result.credit);
					}


				}

			})
		}

		function BindOrderStats() {

			$.ajax({
				url: "/Restaurant/Dashboard/OrderStats",
				type: "GET",
				success: function (response) {
					console.log(response)
					if (response.success) {
						$(".cash-stats-amount").text("AED : " + response.result.cash);
						$(".card-stats-amount").text("AED : " + response.result.card);
						$(".aggregator-stats-amount").text("AED : " + response.result.aggregator);
						$(".partial-stats-amount").text("AED : " + response.result.partial);
						$(".credit-stats-amount").text("AED : " + response.result.credit);
					}


				}

			})


		}

		var Dates = [];
		var Sales = [];
		var category = [];
		var itemsold = [];
		$(document).ready(function () {
			$("#btnSearch").trigger('click');

		});

	</script>
}

