@model WebApp.ViewModels.ClientTypesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Update</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">

    <form id="frm-edit">
        @Html.AntiForgeryToken()
        <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Status, new { id = "Status" })
        @Html.HiddenFor(model => model.Id)


        <div class="row">

            @*<div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">City Name (Ar)</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter sport name (Ar) here ...", dir = "rtl", required = "required" } })@Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>
                    </div>
                </div>
            </div>*@
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Type Name</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter client type name here ...", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-flag"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="frm-edit">Save Changes</button>
</div>
<script>

    var _URL = window.URL || window.webkitURL;
    $(document).ready(function () {


        $("#frm-edit").submit(function () {
            
            $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            var data = new FormData();
            data.append("Id", $('#Id').val());
            data.append("Name", $('#Name').val());
            data.append("Status", $('#Status').val());
            data.append("__RequestVerificationToken", $('input[name=__RequestVerificationToken]').val());
            $.ajax({
                url: "/Admin/ClientTypes/Edit/",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                    location.reload();
                    if (callback) {
                        callback($('#myModalContent'), element, true, response);
                       
                    }
                    Location.reload();

                },
                error: function (er) {
                    toastr.error(er);
                }
            });
            return false;
        });

        //$("#CategoryName").on('change', function () {
        //    var name = $(this);
        //    $("#Slug").val($(name).val().replace(/ /g, "-").replace(/'/g, "").toLocaleLowerCase());
        //});
    });

</script>
