@model WebApp.ViewModels.GarageViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <div class="flex-shrink-0 mr-7">
                <div class="symbol symbol-50 symbol-lg-120">
                    <img alt="Pic" src="@Model.Logo">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">CreationDate</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Slug</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Name(TradeLicense)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.NameAsPerTradeLicense, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">NameAr(TradeLicense)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.NameArAsPerTradeLicense, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Address</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-address-book"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Description</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-paragraph"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">DescriptionAr</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.DescriptionAr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-paragraph"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Latitude</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-location-arrow"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Longitude</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-location-arrow"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Name(ContactPerson)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Number(ContactPerson)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.ContactPersonNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Email(ContactPerson)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.ContactPersonEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-at"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Status</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-check"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">ReferenceCode</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.ReferenceCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-id-card"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Bank</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-money-check"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Name(BankAccountHolder)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.BankAccountHolderName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-money-check-alt"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Number(BankAccount)</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">IBAN</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-money-check-alt"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">ServingKilometers</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.ServingKilometers, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-ruler"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">AverageRating</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.AvgRating, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-chart-line"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Rating</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.RatingCount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-chart-area"></i></span></div>
                </div>
            </div>
        </div>
    </div>
    <h2>Garage Schedules</h2>
    <div class="row">
        @foreach(var GarageSchedule in Model.GarageSchedules)
        {
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Day</label>
                <div class="input-group mb-2">
                    <input class="form-control" value="@GarageSchedule.Day" readonly />
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-day"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Opening Time</label>
                <div class="input-group mb-2">
                    <input class="form-control" value="@GarageSchedule.FormattedOpeningTime" readonly />
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-clock"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Closing Time</label>
                <div class="input-group mb-2">
                    <input class="form-control" value="@GarageSchedule.FormattedClosingTime" readonly />
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-clock"></i></span></div>
                </div>
            </div>
        </div>
        }
    </div>
    <h2>Garage Images</h2>
    <div class="row">
        @foreach(var GarageImage in Model.GarageImages)
        {
        <div class="col-md-4 col-sm-12">
            <div class="flex-shrink-0 mr-7">
                <div class="symbol symbol-50 symbol-lg-120">
                    <img alt="Pic" src="@GarageImage.Image">
                </div>
            </div>
        </div>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>