@model IEnumerable<WebApp.ViewModels.TicketViewModel>
@using HelperClasses.Classes
@using Microsoft.AspNetCore.Authorization

@Html.AntiForgeryToken()
<!--begin: Datatable-->
<table class="table table-separate table-head-custom table-checkable" id="kt_datatable2">
    <thead>
        <tr>
            <th>Date</th>
            <th>Ticket No</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="display:none">
        @foreach (var item in Model)
        {
            <tr>
                <td data-order="@item.Id">@(item.CreationDate != null ? item.CreationDate.ToString("dd MMM yyyy, h:mm tt") : "-")	</td>
                <td>@(item.Restaurant == null ? item.Supplier.NameAsPerTradeLicense : item.Restaurant.NameAsPerTradeLicense)  , @item.TicketNo</td>
                <td>@item.Description</td>
                <td>@item.Priority</td>
                <td>@item.Status</td>
                <td>@(item.user != null ? item.user.LastName : "") , @item.user.UserId , @item.Id</td>
                <td nowrap="nowrap">@item.Id</td>
            </tr>
        }
    </tbody>
</table>
<!--end: Datatable-->
