@model WebApp.ViewModels.CarMakeViewModel

@{
	Layout = null;
}

<div class="modal-header">
	<h5 class="modal-title">Details</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>
<div class="modal-body">

	

		<div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="image-input image-input-outline" id="kt_image_1">
                    <div class="image-input-wrapper" style="background: url(@Model.Logo); background-repeat: round"></div>
					@*<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="change logo">
						<i class="fa fa-pen icon-sm text-muted"></i>
						<input type="file" name="image" id="image" accept=".png, .jpg, .jpeg" />
						<input type="hidden" name="profile_avatar_remove" />
					</label>*@
					<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow cancelimage" data-action="cancel" data-toggle="tooltip" title="cancel avatar">
						<i class="ki ki-bold-close icon-xs text-muted"></i>
					</span>
				</div>
			
			</div>

		</div>
		<div class="row">
			@*<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label class="control-label">Parent Category</label>
						<div class="input-group mb-2">
							@Html.DropDownList("ParentCategoryID", null, "Select Parent Category", htmlAttributes: new { @class = "form-control" })@Html.ValidationMessageFor(model => model.ParentCategoryID, "", new { @class = "text-danger" })
							<div class="input-group-append"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
						</div>
					</div>
				</div>*@
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label class="control-label">Make</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter make name here ...", @readonly = "readonly" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-tools"></i></span></div>
					</div>
				</div>
			</div>
			@*<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">Name (Ar)</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter sport name (Ar) here ...", dir = "rtl", @readonly="readonly" } })@Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>
					</div>
				</div>
			</div>*@
			<input type="text" class="" value="-" name="CategoryNameAr" hidden="" />

			@*<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label">Slug</label>
						<div class="input-group mb-2">
							@Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Slug name here ...", required = "required", @readonly = "readonly" } })
							@Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-link"></i>
								</span>
							</div>
						</div>
					</div>
				</div>*@

		


		</div>
	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	
</div>
