@model WebApp.ViewModels.SupplierItemViewModel

@{
    Layout = "~/Areas/Supplier/Views/Shared/_Layout.cshtml";
}
<link href="~/css/cropper.css" rel="stylesheet" />
<link href="~/Admin/css/general/ImageUploader.css" rel="stylesheet" />

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container-fluid align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Heading-->
                        <div class="d-flex flex-column">

                            <!--begin::Breadcrumb-->
                            <div class="d-flex align-items-center font-weight-bold my-2">
                                <!--begin::Item-->
                                <a href="/Supplier/Dashboard/Index" class="opacity-75 hover-opacity-100">
                                    <i class="flaticon2-shelter text-white icon-1x"></i>
                                </a>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <a href="/Supplier/Dashboard/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">&nbsp;&nbsp;Dashboard</a>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                                <a href="/Supplier/Item/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">Items</a>
                                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                                <a href="javascript:;" class="text-white text-hover-white opacity-75 hover-opacity-100">Create</a>
                                <!--end::Item-->
                            </div>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Heading-->
                    </div>
                </div>
            </div>

            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Dashboard-->
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <!--begin::Card-->
                    @*<div class="card card-custom  gutter-b" id="kt_page_sticky_card">
                        <div class="card-body">

                        </div>
                        </div>*@
                    <div class="card card-custom  gutter-b">
                        <div class="card-header flex-wrap border-0 pt-6 pb-0 justify-content-end">
                            <div class="card-toolbar">
                                <!--begin::Button-->
                                <button type="submit" form="Userform" id="sv-btn" class="btn btn-info font-weight-bolder">
                                    <span class="svg-icon svg-icon-md">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span> Save
                                </button>
                                <!--end::Button-->
                            </div>
                        </div>

                        <div class="card-body">

                            <form id="Userform">
                                @Html.AntiForgeryToken()
                                <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                @Html.HiddenFor(model => model.Id, new { id = "Id" })
                                @Html.HiddenFor(model => model.StockStatus, new { id = "Status" })
                                <div class="row">
                                    <!--<div class="col-md-12 mb-3" style=" display: flex; justify-content: center; align-items: center;">
                                    <div class="image-upload empty">
                                        <i class="fa fa-camera"></i>
                                        <span>Upload Image</span>
                                        <input type="file" name="logo" id="logo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" />
                                        <img id="PreviewImage" src='' />-->
                                    @*<i class="fa fa-trash"></i>*@
                                    <!--<i class="fa fa-pen"></i>
                                        </div>
                                    </div>-->
                                    <div class="col-12 form-group row justify-content-center">
                                        <div class="col-md-12 mb-3" style=" display: flex; justify-content: center; align-items: center;">
                                            <div class="image-upload uploaded">
                                                <i class="fa fa-camera"></i>
                                                <span>Upload Image</span>
                                                <input type="file" name="Restaurantlogo" id="Restaurantlogo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important"
                                                       aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                                                <img id="PreviewImage" src='@Model.Thumbnail' />

                                                <i class="fa fa-pen" onclick="DeleteFile(this,'@Model.Thumbnail')"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Item Name</label>
                                            <div class="input-group mb-2">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Item name here ...", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Category</label>
                                            <div class="input-group mb-2">
                                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.CategoryId,"Id","Name"))" required></select>
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Packaging</label>
                                            <div class="input-group mb-2">
                                                <input type="text" asp-for="Packaging" placeholder="10 kgs" class="form-control" required />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Expiry</label>
                                            <div class="input-group mb-2">
                                                <input type="date" asp-for="ExpiryDateTime" class="form-control" required />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Regular Price</label>
                                            <div class="input-group mb-2">
                                                <input type="number" asp-for="RegularPrice" placeholder="0" step=".01" min="0" class="form-control" required />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Sale Price</label>
                                            <div class="input-group mb-2">
                                                <input type="number" asp-for="SalePrice" placeholder="0" step=".01" min="0" class="form-control" required />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <div class="input-group mb-2">
                                                <textarea class="form-control" name="Description" id="Description" rows="3" placeholder="Enter Description name here ..." required="required">@Model.Description</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Manage stock manually</label>
                                                <span class="d-flex justify-content-start switch switch-danger">
                                                    <label>
                                                        <input type="checkbox" id="IsDefault" name="IsDefault">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>*@



                                </div>


                                <div class="row">
                                    <div class="card-title mt-6"><h4>Gallery Images</h4></div>
                                    <div class="col-md-12 col-sm-12 img-area" style="display:flex;">
                                        <input type="file" id="gallery" style="display:none;" accept=".png, .jpg, .jpeg" />
                                        <div id="upld-btn-conctr" class="btn btn-block btn-info col-lg-2 rounded d-flex flex-column justify-content-center align-items-center thumbnail-image-h-w BtnSave">
                                            <div id="TakePhotoDiv">
                                                <i class="fa fa-camera m-0 p-0"></i>
                                                <p class=" m-0 p-0">Upload Photo</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <hr />
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h3>Inventory Management</h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <label class="control-label col-sm-10 d-flex justify-content-end">Manage stock manually</label>
                                            <span class="d-flex justify-content-end switch switch-danger">
                                                <label>
                                                    <input type="checkbox" id="IsDefault" name="IsDefault">
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <hr />
                                <div id="ManageStockManually" class="row" hidden>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Stock Quantity</label>
                                            <div class="input-group mb-2">
                                                <input type="number" asp-for="Stock" placeholder="0" min=0 oninput="validity.valid||(value='');" class="form-control" />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Threshold</label>
                                            <div class="input-group mb-2">
                                                <input type="number" asp-for="Threshold" placeholder="0" min=0 oninput="validity.valid||(value='');" class="form-control" />
                                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-link"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ManageStockCheck" class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">In Stock</label>
                                            <span class="d-flex justify-content-start switch switch-danger">
                                                <label>
                                                    <input type="checkbox" id="StockStatus" name="StockStatus">
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--end::Card-->



                    </div>

                </div>


                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</div>

<div class="modal fade" id="CropperModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 90vw;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="img-container">
                    <img id="image" src="https://avatars0.githubusercontent.com/u/3456749" style="width:80vw;height:80vh" aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0">
                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-between;">
                <div class="cropper-actions">
                    <div class="aspectratio-section">
                        <h6>ASPECT RATIO</h6>
                        <div class="aspectratios">
                            <a href="javascript:;" class="cropper-aspectratio active" data="NaN"><span class="free-style"></span>FREE STYLE</a>
                            <a href="javascript:;" class="cropper-aspectratio" data="1"><span class="box"></span> SQUARE (1:1)</a>
                        </div>
                    </div>
                    <div class="shapes-section">
                        <h6>SHAPES</h6>
                        <div class="shapes">
                            <a href="javascript:;" class="cropper-shape active" data="round"><span class="round"></span> ROUND/OVAL</a>
                            <a href="javascript:;" class="cropper-shape" data="square"><span class="square"></span> SQUARE/RECTANGLE</a>
                        </div>
                    </div>
                    <div class="backgrounds-section">
                        <h6>BACKGROUNDS</h6>
                        <div class="backgrounds">
                            <a href="javascript:;" class="background-color active" data="#FFFFFF"><span style="background: #FFFFFF"></span> WHITE</a>
                            <a href="javascript:;" class="background-color" data="#000000"><span style="background: #000000"></span> BLACK</a>
                            <a href="javascript:;" class="background-color" data="#00000000"><span style="background: #00000000"></span> TRANSPARENT</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="crop">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="/Admin/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/Admin/js/general/ModalPopup.js"></script>
    <script src="/Admin/js/supplier/Item/list.js"></script>
    <script src="~/js/cropper.js"></script>

    <script src="~/js/compressor.js"></script>
    <script src="~/Admin/js/general/ImageUploader-2.0.js"></script>

    <script>
        var _URL = window.URL || window.webkitURL;
        var logoPath = "";
        var logoPaths = [];

        $(document).ready(function () {

            $("#IsDefault").click(() => {
                
                var check = $('#IsDefault').is(':checked');

                if (check) {
                    $("#ManageStockManually").attr("hidden", false);
                    $("#ManageStockCheck").attr("hidden", true);
                }
                else {
                    $("#ManageStockManually").attr("hidden", true);
                    $("#ManageStockCheck").attr("hidden", false);

                }
            });

            $('.cropper-shape').click(function () {

                $('#CropperModal').removeClass($('.cropper-shape.active').attr('data'));

                $('.cropper-shape').removeClass('active');
                $(this).addClass('active');

                $('#CropperModal').addClass($(this).attr('data'));
            })


            $('.background-color').click(function () {
                $('.background-color').removeClass('active');
                $(this).addClass('active');


                $('.cropper-view-box').css('background', $('.background-color.active').attr('data'))
            })


            $('.cropper-aspectratio').click(function () {
                $('.cropper-aspectratio').removeClass('active');
                $(this).addClass('active');


                $('#image').attr('aspectratio', $(this).attr('data'));

                cropper.setAspectRatio($(this).attr('data'))

            })

            $('i.fa-camera').click(function () {
                $("#logo").trigger('click');
            });

            //aspectratio = 0.76;
            //minCroppedWidth = 250;
            //minCroppedHeight = 330;

            $('i.fa-camera').click(function () {
                $("#Restaurantlogo").trigger('click');
            });
            BindImageUploader("#Restaurantlogo", "#image", "#CropperModal", "#PreviewImage");


            $('#upld-btn-conctr').on('click', () => {
                $('#gallery').click();
            });
            $("#gallery").change(function () {
                $("#TakePhotoDiv").hide();
                $("#TakePhotoSpinner").show();

                var file = this.files[0];
                var draftImg = UploadImageToDraft(file).responseText;
                logoPaths.push(draftImg);
                var reader = new FileReader();
                reader.onloadend = function () {
                    var html = `<div class="col-lg-1 rounded mx-2 position-relative thumbnail-image-h-w res-imgs" style="background-image:url(${draftImg}); background-size:110px 70px;">
                                                                    <i class="fa fa-trash position-absolute text-danger trash-icon cancelimage" onClick="DeleteGalleryImage(this)"></i>
                                                                </div>`;
                    $('.img-area').append(html);

                    $("#TakePhotoDiv").show();
                    $("#TakePhotoSpinner").hide();
                }
                reader.readAsDataURL(file);
            });


            $("#Userform").submit(function () {
                var Images = [];
                var model = [];

                $("#sv-btn").addClass('spinner spinner-sm spinner-left').attr('disabled', true);

                $.each(logoPaths, (k, v) => {
                    Images.push({
                        Path: v
                    });
                });


                //data.append("Description", $('#Description').val());
                //data.append("Packaging", $('#Packaging').val());
                //data.append("ExpiryDateTime", $('#ExpiryDateTime').val());
                //data.append("RegularPrice", $('#RegularPrice').val());
                //data.append("SalePrice", $('#SalePrice').val());
                //data.append("CategoryId", $('#CategoryId').val());
                //data.append("SupplierItemImages", Images);
                //data.append("Thumbnail", logoPath);

                //if ($('#IsDefault').is(':checked')) {
                //    data.append("IsManagedStock", true);
                //    data.append("Stock", $('#Stock').val());
                //    data.append("Threshold", $('#Threshold').val());
                //    data.append("StockStatus", true);
                //}
                //else {
                //    data.append("IsManagedStock", false);
                //    data.append("StockStatus", $('#StockStatus').is(':checked'));
                //}

                //data.append("__RequestVerificationToken", $('input[name=__RequestVerificationToken]').val());

                //model.push({

                //})
                
                if (Number($('#RegularPrice').val()) < Number($('#SalePrice').val())) {
                    toastr.error("Sale price must be lesser than Regular Price");
                    /*$("#sv-btn").removeClass("spinner spinner-sm");*/
                    $('#sv-btn').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);

                    return false;

                }
                if (Number($('#Stock').val()) < Number($('#Threshold').val())) {
                    toastr.error("Stock quantity must be greater than threshold");
                    /*$("#sv-btn").removeClass("spinner spinner-sm");*/
                    $('#sv-btn').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);

                    return false;
                }
                var data = new FormData();
                data.append("Model", model);
                $.ajax({
                    url: "/Supplier/Item/Create/",
                    type: "POST",
                    data: {
                        Model: {
                            Title: $('#Title').val(),
                            Description: $('#Description').val(),
                            Packaging: $('#Packaging').val(),
                            ExpiryDateTime: $('#ExpiryDateTime').val(),
                            RegularPrice: $('#RegularPrice').val(),
                            SalePrice: $('#SalePrice').val(),
                            CategoryId: $('#CategoryId').val(),
                            Thumbnail: logoPath,
                            IsManagedStock: $('#IsDefault').is(':checked'),
                            Stock: $('#IsDefault').is(':checked') ? $('#Stock').val() : 0,
                            Threshold: $('#IsDefault').is(':checked') ? $('#Threshold').val() : 0,
                            StockStatus: $('#StockStatus').is(':checked') ? 'InStock' : 'OutOfStock',
                            SupplierItemImages: Images
                        }
                    },
                    success: function (response) {
                        toastr.success('Item created successfully ...');
                        location.href = "/Supplier/Item/Edit/" + response.data;
                    },
                    error: function (er) {
                        toastr.error(er);
                    }
                });
                return false;
            });
        });

        function DeleteGalleryImage(object) {

            var path = $(object).parent().closest('div').css("background-image").replace('url("', '').replace('")', '');
            logoPath.splice($.inArray(path, logoPath), 1);
            $(object).parent().remove();
            path = path.replace("%20", " ");

            if (!path.includes("Draft"))
                DeleteImage(path)
        }
    </script>
}
