@model WebApp.ViewModels.UserViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Restaurant/Views/Shared/_Layout.cshtml";
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="~/Restaurant/Dashboard/Index" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <img src="~/Images/Icons/BasketIcon.png" />
                        <!--begin::Item-->
                        <a href="~/Restaurant/Dashboard/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">&nbsp;&nbsp;Dashboard</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="javascript:;" class="text-white text-hover-white opacity-75 hover-opacity-100">Change Password</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Profile Change Password-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
                    <!--begin::Profile Card-->
                    <div class="card card-custom">
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::User-->
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                    <div class="symbol-label" style="background-image:url('@ViewBag.RestaurantImage')"></div>

                                </div>
                                <div>
                                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.UserName</a>
                                    <div class="text-muted">Administrator Panel</div>
                                    <div class="mt-2">
                                    </div>
                                </div>
                            </div>
                            <!--end::User-->
                            <!--begin::Contact-->
                            <div class="py-9">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Email:</span>
                                    <a href="#" class="text-muted text-hover-primary">@Model.Email</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Phone:</span>
                                    <span class="text-muted">@Model.PhoneNumber</span>
                                </div>
                            </div>
                            <!--end::Contact-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Profile Card-->
                </div>
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
                            </div>
                            <div class="card-toolbar">
                                <button type="submit" class="btn btn-info mr-2 btn-save" form="frm-change-password">Save Changes</button>
                                <button type="reset" onclick="frmReset()" class="btn btn-secondary" form="frm-change-password">Reset</button>
                                <a href="~/Restaurant/Dashboard/Index" class="btn btn-light-primary font-weight-bolder ml-2">
                                    <i class="ki ki-long-arrow-back icon-sm"></i> Back
                                </a>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <form class="form" id="frm-change-password" action="/Account/ChangePassword" method="post">
                            @Html.AntiForgeryToken()
                            <input type="password" name="UserId" id="UserId" class="form-control form-control-lg  mb-2" value="@Model.UserId" placeholder="Enter current password here..." hidden />
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">Current Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="OldPassword" id="OldPassword" class="form-control form-control-lg  mb-2" value="" placeholder="Enter current password here..." required="required" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">New Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="NewPassword" id="NewPassword" class="form-control form-control-lg " value="" placeholder="Enter new password here..." required="required" pattern=@("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])[\\w~@#$%^&*+=`|{}:;!.?\"()\\[\\]-]{8,25}$") />
                                    </div>
                                    <span class="form-text text-danger" style="font-size: 9px;">Min. 8 characters, at least one uppercase letter, one lowercase letter, and one number</span>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">Confirm Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control form-control-lg " value="" placeholder="Enter confirm password here..." required="required" pattern=@("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])[\\w~@#$%^&*+=`|{}:;!.?\"()\\[\\]-]{8,25}$") />
                                    </div>
                                    <span class="form-text text-danger" style="font-size: 9px;">Min. 8 characters, at least one uppercase letter, one lowercase letter, and one number</span>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Change Password-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<!--end::Row-->
@section Scripts {

    <script>

        $("#frm-change-password").submit(function () {
            $(this).find('.alert').remove();
            $('.btn-save').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            $.ajax({
                url: "/Account/ChangePassword/",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {

                    if (response.success) {
                        $('#frm-change-password').find('.card-body').prepend('<div class="alert alert-custom alert-light-success fade show mb-10" role="alert">' +
                            '<div class="alert-icon">' +
                            '<span class="svg-icon svg-icon-3x svg-icon-success">' +
                            '<!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->' +
                            '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                            '<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                            '<rect x="0" y="0" width="24" height="24" />' +
                            '<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                            '<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />' +
                            '<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />' +
                            '</g>' +
                            '</svg>' +
                            '<!--end::Svg Icon-->' +
                            '</span>' +
                            '</div>' +
                            '<div class="alert-text font-weight-bold">' + response.message +
                            '</div>' +
                            '<div class="alert-close">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">' +
                            '<i class="ki ki-close"></i>' +
                            '</span>' +
                            '</button>' +
                            '</div>' +
                            '</div>');
                        $('input[name=UserId]').val('');
                        $('input[name=OldPassword]').val('');
                        $('input[name=NewPassword]').val('');
                        $('input[name=ConfirmPassword]').val('');
                    } else {
                        $('#frm-change-password').find('.card-body').prepend('<div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">' +
                            '<div class="alert-icon">' +
                            '<span class="svg-icon svg-icon-3x svg-icon-danger">' +
                            '<!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->' +
                            '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                            '<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                            '<rect x="0" y="0" width="24" height="24" />' +
                            '<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />' +
                            '<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />' +
                            '<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />' +
                            '</g>' +
                            '</svg>' +
                            '<!--end::Svg Icon-->' +
                            '</span>' +
                            '</div>' +
                            '<div class="alert-text font-weight-bold">' + response.message +
                            '</div>' +
                            '<div class="alert-close">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">' +
                            '<i class="ki ki-close"></i>' +
                            '</span>' +
                            '</button>' +
                            '</div>' +
                            '</div>');
                    }

                    $('.btn-save').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);
                },
                error: function (er) {
                    toastr.error(er);
                }
            });
            return false;
        });
        function frmReset() {
            $('.alert-custom').remove();
        }
    </script>
}