@model WebApp.ViewModels.RestaurantOrderViewModel
@using HelperClasses.Classes
@using Microsoft.AspNetCore.Authorization

@{
    Layout = "~/Areas/Restaurant/Views/Shared/_Layout.cshtml";
}

<style>
    .rating .checked {
        color: orange;
    }

    .Failed {
        color: #ff0000;
    }

    .Succss {
        color: #25a500;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="/Restaurant/Dashboard/Index" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <a href="/Restaurant/Dashboard/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">&nbsp;&nbsp;Dashboard</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="/Restaurant/RestaurantOrder/Index" class="text-white text-hover-white opacity-75 hover-opacity-100">Orders</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="javascript:;" class="text-white text-hover-white opacity-75 hover-opacity-100">Details</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-8 d-flex flex-column">
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="justify-content-center px-8 row text-center">
                                        <div class="col-md-12">
                                            <div class="d-flex flex-column">
                                                <div><h3 class="text-left">Order Details</h3></div>
                                                <div><h6 class="text-left opacity-70">@Model.OrderNo</h6></div>
                                                <input type="hidden" value="@Model.Id" id="OrderId" />
                                            </div>

                                            <div class="row" style="background-color: #fbfbfb; border-radius: 20px;">
                                                <div class="col-md-4">
                                                    <img src="" id="ImageGif" style="width: 100%;" />
                                                </div>
                                                <div class="col-md-8 mt-lg-28 text-left">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <h6 style="color:red">Status <i class="fa fa-pencil-alt fa-sm" onclick="OpenModelPopup(this, '/Restaurant/RestaurantOrder/ChangeStatus/' + @Model.Id)"></i></h6>
                                                        </div>
                                                        <div>
                                                            <h3 id="Status">@Model.Status</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=" px-8 px-md-0 py-8 row text-center justify-content-center">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-8 text-left">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <label><i class="flaticon-users-1 icon-sm-1x"></i>  Name</label>
                                                        </div>
                                                        <div>
                                                            <label class="opacity-70">@(Model.CustomerName != null ? Model.CustomerName : "-")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-left">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <label><i class="flaticon2-phone icon-sm-1x"></i>  Phone Number</label>
                                                        </div>
                                                        <div>
                                                            <label class="opacity-70">@(Model.CustomerContact != null ? Model.CustomerContact : "-")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 text-left">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <label><i class="fa fa-map-marker-alt icon-sm-1x"></i>  Delivery Address</label>
                                                        </div>
                                                        <div>
                                                            <a class="opacity-70" id="Address" href="">@Model.Address</a>
                                                        </div>
                                                        @if (!string.IsNullOrEmpty(@Model.Street))
                                                        {
                                                            <div>
                                                                <strong>Street No.</strong>
                                                                <a class="opacity-70" href="javascript:;">@Model.Street</a>
                                                            </div>
                                                        }@if (!string.IsNullOrEmpty(@Model.Floor))
                                                        {
                                                            <div>
                                                                <strong>Floor</strong>
                                                                <a class="opacity-70" href="javascript:;">@Model.Floor</a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-left">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <label><i class="fa fa-biking icon-sm-1x"></i>  Note to rider</label>
                                                        </div>
                                                        <div>
                                                            <label class="opacity-70">@(Model.NoteToRider != null ? Model.NoteToRider: "-")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>
                            <div class="card card-custom gutter-b">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="card justify-content-center p-4 row text-center">


                                        <div class="col-md-12">
                                            <!--begin::Top-->
                                            <div class="d-flex">
                                                <!--begin::Pic-->
                                                <div class="flex-shrink-0 mr-7">
                                                    <div class="symbol symbol-50 symbol-lg-120">
                                                        <img alt="Pic" src="/Images/Logo/menu-default.png" style="height:80px;" />
                                                    </div>
                                                </div>
                                                <!--end::Pic-->
                                                <!--begin: Info-->
                                                <div class="flex-grow-1">
                                                    <!--begin::Title-->
                                                    <div class="row align-items-center justify-content-between flex-wrap general-info mt-lg-5">
                                                        <!--begin::User-->
                                                        <div class="col-8">
                                                            <!--begin::Name-->
                                                            <a href="javascript:;" id="menu-name" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">Payment Method</a>
                                                            <div class="d-flex flex-wrap">
                                                                @{
                                                                    if (Model.PaymentMethod == Enum.GetName(typeof(PaymentMethod), PaymentMethod.Cash))
                                                                    {
                                                                        <a href="javascript:;" id="menu-item-count" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-2 opacity-70">Cash On Delivery</a>
                                                                    }
                                                                    else if (Model.PaymentMethod == Enum.GetName(typeof(PaymentMethod), PaymentMethod.Card))
                                                                    {
                                                                        <a href="javascript:;" id="menu-item-count" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-2 opacity-70">Credit/Debit Card</a>
                                                                    }
                                                                }

                                                            </div>
                                                            <!--end::Name-->
                                                            <!--begin::Contacts-->
                                                            <!--end::Contacts-->
                                                        </div>
                                                        <!--begin::User-->
                                                        <!--begin::Actions-->
                                                        <div class="my-lg-0 my-1">
                                                            @{
                                                                if (Model.PaymentMethod == Enum.GetName(typeof(PaymentMethod), PaymentMethod.Card))
                                                                {
                                                                    <h5 class="opacity-70 menu-status-label" style="color:red">@(Model.IsPaid == true ? "Paid" : "Unpaid")</h5>
                                                                }
                                                                else if (Model.PaymentMethod == Enum.GetName(typeof(PaymentMethod), PaymentMethod.Cash))
                                                                {
                                                                    <h5 class="opacity-70 menu-status-label" style="color:red">Paid</h5>
                                                                }
                                                            }



                                                        </div>
                                                        <!--end::Actions-->
                                                    </div>
                                                    <!--end::Title-->
                                                    <!--begin::Content-->
                                                    <!--end::Content-->
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Top-->
                                            <!--begin::Separator-->
                                            <!--end::Separator-->
                                            <!--begin::Bottom-->
                                            <!--end::Bottom-->
                                        </div>


                                    </div>


                                </div>
                                <!--end::Row-->
                            </div>
                            <div class="card card-custom gutter-b">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex flex-column">
                                                <div><h3 class="text-left">Order Payment History</h3></div>
                                                @*<div><h6 class="text-left opacity-70">@Model.OrderNo</h6></div>
                                                    <input type="hidden" value="@Model.Id" id="OrderId" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th class="dt-left">Date</th>
                                                <th class="dt-left">Order #</th>
                                                <th class="dt-left">Name On Card</th>
                                                <th class="dt-left">Mask Card #</th>
                                                <th class="dt-left">Status</th>
                                                <th class="dt-left">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var transaction in Model.Transactions)
                                            {
                                                string status = transaction.TransactionStatus == "Succss" ? "Success" : transaction.TransactionStatus;
                                                <tr>
                                                    <td>@transaction.CreationDate.ToString("dd MMM yyyy, hh:mm tt") </td>
                                                    <td>@transaction.Order.OrderNo </td>
                                                    <td>@transaction.NameOnCard.Replace("null", "") </td>
                                                    <td>@transaction.MaskCardNo </td>
                                                    <td class="@(transaction.TransactionStatus)">@status</td>
                                                    <td>AED @transaction.Amount </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--end::Row-->
                            </div>
                        </div>

                        <div class="col-md-4 d-flex flex-column">

                            <div class="card card-custom gutter-b">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="justify-content-center px-8 row text-center">


                                        <div class="col-md-12">
                                            <div><h3 class="text-left">Product Details</h3></div>
                                            <div class="separator separator-solid mb-3"></div>
                                            @if (Model.OrderDetails.Any())
                                            {
                                                foreach (var item in Model.OrderDetails)
                                                {
                                                    <div id="item">
                                                        <div class="row justify-content-end">
                                                            <div class="col-md-6 text-left">
                                                                <label>@item.Quantity x @item.MenuItems.Name</label>
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <label>AED @item.Price</label>
                                                            </div>
                                                            @if (!string.IsNullOrEmpty(item.CustomerNote))
                                                            {
                                                                <div class="col-12 text-left">
                                                                    <div>
                                                                        <strong>Special Instructions</strong>
                                                                        <p class="opacity-50">
                                                                            @item.CustomerNote
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            <div class="col-12" style="font-size: 12px;">
                                                                @if (item.OrderDetailOptionValues.Any())
                                                                {

                                                                    foreach (var value in item.OrderDetailOptionValues)
                                                                    {
                                                                        <ul class="text-left m-0">
                                                                            <li>
                                                                                <div class="d-flex justify-content-lg-between">
                                                                                    <label class="opacity-70">@value.MenuItemOption : @value.MenuItemOptionValue</label>
                                                                                    <label class="opacity-70">@value.Price</label>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                            <div class="row p-4" style="background-color: #efeeee; border-radius: 10px">
                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder">Subtotal</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder">@Model.Amount AED</label>
                                                </div>
                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder">Coupon Code</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder">@(Model.CouponCode != null ? Model.CouponCode : "-" )</label>
                                                </div>
                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder">Coupon Discount</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder">@(Model.CouponCode != null ? Model.CouponDiscount + "AED" : "-" )</label>
                                                </div>
                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder">Delivery Charges</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder">@Model.DeliveryCharges AED</label>
                                                </div>
                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder">VAT(%)</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder">@Model.TaxAmount AED</label>
                                                </div>

                                                <div class="col-md-6 text-left">
                                                    <label class="font-weight-bolder" style="color:red">Total</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <label class="font-weight-bolder" style="color:red">@Model.TotalAmount AED</label>
                                                </div>
                                            </div>
                                            <!--begin::Top-->
                                            <!--end::Top-->
                                            <!--begin::Separator-->
                                            <!--end::Separator-->
                                            <!--begin::Bottom-->
                                            <!--end::Bottom-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>

                            @{
                                if (Model.Status == Enum.GetName(typeof(OrderStatus), OrderStatus.Canceled))
                                {

                                    <div class="card card-custom gutter-b">

                                        <div class="card-body">
                                            <!-- begin: Invoice-->
                                            <!-- begin: Invoice header-->
                                            <div class="justify-content-center row text-center">


                                                <div class="col-md-12">

                                                    <div class="col-md-12">
                                                        <div><h3 class="text-left" style="color:red">Cancellation Reason </h3></div>
                                                        <div class="separator separator-solid mb-3"></div>
                                                        <!--begin::Top-->
                                                        <div>

                                                            <div class="text-left text-justify pt-2">
                                                                <p class="opacity-70"><em>@Model.CancelationReason</em></p>
                                                            </div>
                                                        </div>
                                                        <!--end::Top-->
                                                        <!--begin::Separator-->
                                                        <!--end::Separator-->
                                                        <!--begin::Bottom-->
                                                        <!--end::Bottom-->
                                                    </div>


                                                </div>


                                            </div>
                                            <!--end::Row-->
                                        </div>



                                    </div>
                                }
                            }


                            <div class="card card-custom gutter-b">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="justify-content-center row text-center">


                                        <div class="col-md-12">

                                            <div class="col-md-12">
                                                <div><h3 class="text-left">Ratings </h3></div>
                                                <div class="separator separator-solid mb-3"></div>
                                                <!--begin::Top-->
                                                <div>
                                                    <!--begin::Pic-->
                                                    <div class="rating text-left" id="rating" data="@(Model.RestaurantRating != null ? Model.RestaurantRating.Rating : 0)">
                                                        <span class="ratingstar fa fa-star fa-2x"></span>
                                                        <span class="ratingstar fa fa-star fa-2x"></span>
                                                        <span class="ratingstar fa fa-star fa-2x"></span>
                                                        <span class="ratingstar fa fa-star fa-2x"></span>
                                                        <span class="ratingstar fa fa-star fa-2x"></span>
                                                    </div>
                                                    <div class="text-left text-justify pt-2">
                                                        <p class="opacity-70"><em>@(Model.RestaurantRating != null ? Model.RestaurantRating.Review : "No Reviews") </em></p>
                                                    </div>
                                                    <!--end::Pic-->
                                                    <!--begin: Info-->
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Top-->
                                                <!--begin::Separator-->
                                                <!--end::Separator-->
                                                <!--begin::Bottom-->
                                                <!--end::Bottom-->
                                            </div>


                                        </div>


                                    </div>
                                    <!--end::Row-->
                                </div>



                            </div>


                            <div class="card card-custom gutter-b" id="DeliveryStaff" style="display:none">

                                <div class="card-body">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="justify-content-center row text-center">

                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div>
                                                    <h3 class="text-left">Delivery Staff </h3>
                                                </div>
                                                <div class="separator separator-solid mb-3"></div>
                                                <div id="deliveryStaffData">
                                                    @if (Model.DeliveryStaff != null)
                                                    {
                                                        <div class="row">
                                                            <div class="d-flex mt-lg-0">

                                                                <div class="symbol symbol-50 flex-shrink-0 mr-4">
                                                                    <div class="symbol-label" style="background-image: url(@Model.DeliveryStaff.Logo)"></div>
                                                                </div>
                                                                <span class="font-weight-bolder mb-2 text-left">
                                                                    @Model.DeliveryStaff.FirstName
                                                                    <p class="opacity-70">@Model.DeliveryStaff.PhoneNumber</p>
                                                                </span>


                                                            </div>

                                                        </div>
                                                    }

                                                    else
                                                    {
                                                        <div class="row justify-content-center">
                                                            <div class="d-flex mt-lg-0">

                                                                <button class="btn btn-secondary" onclick="OpenModelPopup(this, '/Restaurant/RestaurantOrder/AssignDeliveryStaff')">Assign Delivery Staff</button>


                                                            </div>

                                                        </div>
                                                    }


                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <!--end::Row-->
                                </div>



                            </div>


                        </div>
                        <!--end::Container-->
                    </div>




                    <!--end::Entry-->
                </div>

            </div>

        </div>
    </div>
</div>
<div id="myModal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" style="min-height:100px">
            <div id='myModalContent'>
                <div class="row justify-content-center">
                    <div class="col-16">
                        <div class="kt-spinner kt-spinner--lg kt-spinner--dark kt-spinner-modal"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        jQuery(document).ready(function () {


            var rating = parseFloat($("#rating").attr('data'));
            var ratingStar = $("#rating").find(".ratingstar");
            for (var i = 0; i < rating; i++) {
                $(ratingStar[i]).addClass("checked");
            };

            var status = '@Model.Status';
            $("#ImageGif").attr("src", "/Images/Icons/" + status + ".gif");
            if (status == "Ready") {
                $("#DeliveryStaff").show();
            }

            var mapRoute = 'https://www.google.com/maps/search/?api=1&query=' + @Model.Latitude + ',' + '@Model.Longitude';
            $("#Address").prop("href", mapRoute);




        });


        function ChangeStatus(e) {

            $('#submit-btn').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            $.ajax({
                url: '/Restaurant/RestaurantOrder/ChangeStatus',
                type: 'Post',
                data: {
                    OrderId: $("#Id").val(),
                    Status: $("#txtstatus").val()
                },
                success: function (response) {
                    if (response.success == true) {

                        toastr.success(response.message);
                        $('#myModal').modal('hide');
                        var imageRoute = "/Images/Icons/" + response.data.status + ".gif";
                        $("#ImageGif").attr("src", imageRoute);
                        $("#Status").text(response.data.status);

                        if (response.data.status == "Ready") {
                            $("#DeliveryStaff").show();
                        }
                        else {
                            $("#DeliveryStaff").hide();
                        }


                    } else {
                        $('#submit-btn').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);
                    }
                }
            });
    };


    function ChangeStaff(e) {

            $('#submit-btn').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            $.ajax({
            url: '/Restaurant/RestaurantOrder/AssignDeliveryStaff',
                type: 'Post',
                data: {
                id: $("#OrderId").val(),
                    staffId: $("#StaffID").val()
                },
                success: function (response) {
                if (response.success == true) {

                    toastr.success(response.message);
                        $('#myModal').modal('hide');
                        $("#deliveryStaffData").empty();
                        $("#deliveryStaffData").append(`<div class="row">
                                                                <div class="d-flex mt-lg-0">

                                                                    <div class="symbol symbol-50 flex-shrink-0 mr-4">
                                                                        <div class="symbol-label" style="background-image: url(${response.data.logo})"></div>
                                                                    </div>
                                                                    <span class="font-weight-bolder mb-2 text-left">
                                                                       ${response.data.name}
                                                                        <p class="opacity-70">${response.data.contact}</p>
                                                                    </span>


                                                                </div>

                                                            </div>`);


                    } else {
                        $('#submit-btn').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);
    }
                }
            });
        };


    function callback(dialog, elem, isedit, response) {


        if (response.success) {

            toastr.success(response.message);
            window.location.href = "/Vendor/TournamentBooking/Details?id=" + response.data.ID;
        }
        else {
            jQuery('form', dialog).closest('.modal').find('button[type=submit]').removeClass('spinner spinner-sm spinner-left').attr('disabled', false);

            toastr.error(response.message);
        }
    }

                                                                                                        //function addRow(row) {

    //	table1.row.add([
    //		row.Date,
    //		row.OrderNo,
    //		row.Customer ? row.Customer.Name + '|' + row.Customer.Contact : '',
    //		row.TotalAmount + ' ' + row.Currency,
    //		row.ShipmentStatus,
    //		row.Status,
    //		row.ID,
    //	]).draw(true);

    //}
    </script>

    <!--begin::Page Vendors(used by this page)-->
    <script src="~/assets/Admin/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    @*<script src="@Url.ContentVersioned("~/Assets/Admin/js/vendor/order/list.js")"></script>*@
    <!--end::Page Scripts-->
    <script src="/Admin/js/general/ModalPopup.js"></script>
    <!--end::Page Scripts-->
}





