
@model IEnumerable<WebApp.ViewModels.Survey.SurveyOptionViewModel>

@{
	Layout = null;
}

<div class="modal-header">
	<h5 class="modal-title">Create Option</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>

<div class="modal-body">

	@Html.AntiForgeryToken()
	<div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<input type="text" value="@ViewBag.SurveyQuestionId" hidden id="SurveyQuestionId" />
	<div class="survey-option">
		@foreach (var item in Model)
		{
			<div class="row recentOption">
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label class="control-label">Option <span class="option-number"></span></label>
						<div class="input-group mb-2">
							<textarea class="form-control" readonly>@item.Option</textarea>
							<div class="input-group-append">
								<span class="input-group-text">
									<a class="btn btn-sm btn-icon btn-danger" onclick="DeleteOption(this , @item.Id)">
										<i class="fa fa-trash-alt small"></i>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		}

	</div>

	<div class="row">

		<div class="col-md-12 col-sm-12">
			<div class="form-group">
				<label class="control-label">Option</label>
				<div class="input-group mb-2">
					<textarea class="form-control rounded" id="OptionText"></textarea>
					@*<div class="input-group-append"><span class="input-group-text"><i class="fa fa-tag"></i></span></div>*@
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<button class="btn btn-danger" type="button" onclick="SaveOption(this)">Add Option</button>
	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

<script>

	SetOptionNumber();

	function SaveOption(e) {
		var html = '';
		var option = $("#OptionText").val();
		if (option == '') {
			toastr.error("Please enter something in option first !");
		}
		else {
			$.ajax({
				url: "/Restaurant/SurveyQuestion/Options",
				type: "POST",
				data: {
					option: option,
					surveyQuestionId: $("#SurveyQuestionId").val()
				},
				success: function (response) {

					if (response.success) {
						html = `<div class="row recentOption">
									   <div class="col-md-12 col-sm-12">
										   <div class="form-group">
											   <label class="control-label">Option <span class="option-number"></span></label>
											   <div class="input-group mb-2">
												   <textarea class="form-control" readonly>${response.data.option}</textarea>
													<div class="input-group-append">
														<span class="input-group-text">
															<a class="btn btn-sm btn-icon btn-danger" onclick="DeleteOption(this,${response.data.id})">
																<i class="fa fa-trash-alt small"></i>
															</a>
														</span>
													</div>
											   </div>
										   </div>
									   </div>
							   </div>`;

						$(".survey-option").append(html);
						$("#OptionText").val('');
						toastr.success("Option successfully added ...");
						SetOptionNumber();
					}
				}

			})
		}

	}

	function DeleteOption(e, id) {

		$(e).find("i").removeClass("fa-trash-alt");
		$(e).find("i").addClass("fa fa-circle-notch fa-spin fa-2x");

		$.ajax({
			url: "/Restaurant/SurveyQuestion/DeleteOption/" + id,
			type: "GET",
			success: function (response) {
				if (response.success) {
					$(e).closest(".recentOption").remove();
					toastr.success(response.message);
				}
			}
		});
	}

	function SetOptionNumber() {
		let i = 1;
		$.each($('.option-number'), function (idx, elem) {
			$(elem).text(i);
			i++;
		});
	}

</script>


