@model WebApp.ViewModels.Restaurant.RestaurantCashierStaffViewModel

@{
	Layout = null;
}

<div class="modal-header">
	<h5 class="modal-title">Update</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>
<div class="modal-body">

	<form id="frm-edit">
		@Html.AntiForgeryToken()
		<div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id, new { id = "Id" })
		@Html.HiddenFor(model => model.Status, new { id = "Status" })
		@Html.HiddenFor(model => model.IsPrinterAllowed, new { id = "IsPrinterAllowed" })
		<div class="row">
			<div class="col-md-12 col-sm-12 mb-3" style=" display: flex; justify-content: center; align-items: center;">
				<div class="image-upload uploaded">
					<i class="fa fa-camera"></i>
					<span>Upload Image</span>
					<input type="file" name="logo" id="logo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important" />
					<img id="PreviewImage" src='@Model.Logo' onerror="$(this).attr('src', ''); $(this).closest('.image-upload').addClass('empty').removeClass('uploaded')" />
					@*<i class="fa fa-trash" onclick="DeleteFile(this,'@Model.Image')"></i>*@

					<i class="fa fa-pen" onclick="DeleteFile(this,'@Model.Logo')"></i>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label class="control-label">Branch</label>
					<div class="input-group mb-2">
						<select asp-for="RestaurantBranchId" id="BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.branches,"Id","NameAsPerTradeLicense"))" required></select>
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-building"></i></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">First Name</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter first name here ...", required = "required" } })@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">Last Name</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter last name here ...", required = "required" } })@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label class="control-label">Email</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email here ...", required = "required" } })@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">Phone Number</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter phone number here ...", required = "required" } })@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<div class="input-group mb-2">
						<input asp-for="Password" class="form-control" type="password" value="@Model.Password" />
						<span asp-validation-for="Password" class="text-danger"></span>
						<div class="input-group-append"><span class="input-group-text"><i class="fa fa-lock"></i></span></div>
					</div>
				</div>
			</div>

			<input type="text" class="" value="-" name="CategoryNameAr" hidden="" />
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-info" form="frm-edit">Save Changes</button>
</div>
<script>

    var _URL = window.URL || window.webkitURL;
    var logoPath = '@Model.Logo';
    var userId = '@Model.UserId'
    $(document).ready(function () {

		//Image Uploader Begin
		if ($("#PreviewImage").attr('src').length == 0) {
			$('.image-upload').removeClass('uploaded');
			$('.image-upload').addClass('empty');
		}

		$('i.fa-camera').click(function () {
			$("#logo").trigger('click');
		});

		aspectratio = 1;
		minCroppedWidth = 50;
		minCroppedHeight = 50;
		BindImageUploader("#logo", "#image", "#CropperModal", "#PreviewImage");
		//Image Uploader End

        $("#frm-edit").submit(function () {

            $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);

            var data = new FormData();

    //        if (logoPath == '') {
				//logoPath = $("#PreviewImage").attr('src');
    //        }
            data.append("Id",$("#Id").val());
            data.append("Status", $('#Status').val());
            data.append("FirstName", $('#FirstName').val());
            data.append("LastName", $('#LastName').val());
            data.append("Password", $('#Password').val());
            data.append("Email", $('#Email').val());
            data.append("PhoneNumber", $('#PhoneNumber').val());
            data.append("RestaurantBranchId", $('#BranchId').val());
            data.append("userId", userId);
            data.append("Logo", logoPath);

            data.append("__RequestVerificationToken", $('input[name=__RequestVerificationToken]').val());
            $.ajax({
                url: "/Restaurant/RestaurantCashierStaff/Edit/",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                    if (callback) {
                        callback($('#myModalContent'), element, true, response);
                    }
                    //location.reload();
                },
                error: function (er) {
                    toastr.error(er);
                }
            });
            return false;
        });
    });

</script>
