@model WebApp.ViewModels.GarageCustomerAppointmentViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">



    <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @{ 
        DateTime time = new(0001, 01, 01, Model.AppointmentTime.Hours, Model.AppointmentTime.Minutes, Model.AppointmentTime.Seconds);
    }
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Customer Name</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name here ...", @readonly = "readonly" } })@Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Customer Email</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name here ...", @readonly = "readonly" } })@Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Appointment Date</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.AppointmentDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name here ...", @readonly = "readonly",type="url" } })@Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-check"></i></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Appointment Time</label>
                <div class="input-group mb-2">
                    @Html.EditorFor(model => model.AppointmentTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name here ...", @readonly = "readonly",type="url" } })@Html.ValidationMessageFor(model => model.AppointmentTime, "", new { @class = "text-danger" })
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-clock"></i></span></div>
               </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Customer Comments</label>
                <div>
                    <textarea name="CustomerComments" id="CustomerComments" rows="10" class="form-control branch-input">@Model.CustomerComments</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

</div>

<script src="~/Admin/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
<script>
    var CustomerComments;
    var editor;
    $(document).ready(function () {

        $("#AppointmentDate").val('@Model.AppointmentDate.ToShortDateString()')
        $("#AppointmentTime").val('@time.ToShortTimeString()')

        ClassicEditor

            .create(document.querySelector('#CustomerComments'))
            .then(editor => {
                CustomerComments = editor;
                CustomerComments.setData(`@Html.Raw(Model.CustomerComments)`);
                CustomerComments.isReadOnly = true;
            })


            .catch(error => {
                console.log(error);
            });

    })
</script>

